<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CartMapper">
   
   <insert id="insert" parameterType="cart">
	INSERT INTO Lcart (cartno, userid, pid, pname, pnum, cdate, img, price)
		   			 SELECT null, userid, pid, pname, pnum, cdate, img, price
   		    	FROM (SELECT #{userid} AS userid, 
							#{pid} AS pid,
							pname AS pname,
							#{pnum} AS pnum,
							sysdate() AS cdate,
							img1 AS img,
							price AS price
   							from Lproduct where pid = #{pid}) temp
   </insert>
   
   <delete id="delete" parameterType="String">
      DELETE FROM Lcart WHERE CARTNO=#{cartno}
   </delete>

   <update id="update" parameterType="cart">
      UPDATE Lcart SET PNUM=#{pnum} WHERE PID=#{pid} AND USERID=#{userid}
   </update>
   
   <select id="select" parameterType="Integer" 
	resultType="cart">
		SELECT * FROM Lcart WHERE PID=#{pid}	
	</select>

   <select id="selectall" resultType="cart">
      SELECT * FROM Lcart WHERE userid =#{userid}
   </select>
   
</mapper>


